.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0d1117;
  overflow: hidden;
}

.container {
  background-color: #0d1117;
  position: relative;
}
